.left{
    width: 600px;
}
.left img{
    height: 600px;
    width: 600px;
}
.right{
    width: 600px;
    height: 600px;
    margin-left: 750px;
    margin-top: -600px;
}
.logo img{
   display: inline-block;
    width: 50px;
    height:50px;
    margin-left: 280px;
}
.top{
    text-align: center;
    position: absolute;
    margin-top: 80px;
}
#zhanghao{
    width: 450px;
    height: 50px;
    margin-top:15px; 
    position: relative;
}
#yanzheng{
    width: 300px;
    height: 50px;
    margin-top:10px; 
    margin-left: -150px;
    position: relative;
}
#ma{
    font-size: 20px;
}
li a{
    text-decoration: none;
}
li{
    list-style: none;
}
#ma{
    margin-top: -40px;
    margin-left: 300px;
}
#mima{
    width: 450px;
    height: 50px;
    margin-top:25px; 
    position: relative;
}
#denglu{
    width: 450px;
    height: 50px;
    border-radius: 2%;
    background-color: rgb(60, 245, 60);
    color: white;
    font-size: 22px;
    margin-top: 25px
    
}
#zhuce{
    position: relative;
    margin-top: 25px;
}
#zhuce a{
    text-decoration: none;
}